<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Layout</title>
    
</head>
<body>
    <div style="display: flex; flex-direction: column; height: 100vh;">
        <div style=" background-color: white; padding: 10px; text-align: center; flex: 0 0 50px;"></div>
            <div style="display: flex; flex: 1;">
                <div style="padding: 20px; flex: 1;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIX4y72G8_vqgMqIaktjlQIpA1VW0BQytQxQ&s" height="500px; width=400px;"></div>
                <div style="padding: 20px; flex: 1;">
                    <div style="height:100px; width:100px; margin-left:370px;">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Logo_of_L._V._Prasad_Eye_Institute.jpg/197px-Logo_of_L._V._Prasad_Eye_Institute.jpg">
                    </div>
                    <div>
                        <div style=" background-color: white; height:60px; width:500px; color:black; margin-top:50px; font-size:60px;">DATA SCIENCE </div>
                            <div style="background-color: white; height:60px;  width:350px; color:black; padding-left:260px; font-size:60px;">WITH</div>
                                <div style="background-color: white; height:60px; width:150px; color:black;
                                    font-size:50px; float:right; margin-right:25px; margin-top:-143px;font-size:150px;">R</div>
               
                                </div>
                                <br>
                                <hr style="width:550px; margin-left:-6px;  height:5px; background-color:black;">
                                <div style=" margin-top:10px; ">
                                    <span style="white-space: nowrap;   font-size:34px;">Introduction and Basic Statistics with R</span>
                            </div>
                            <div style=" font-size:18px; margin-top:60px; padding-left:200px;">
                            <a href="{%url 'web1'%}">Go To Registration page</a>
                        </div>
                    </div>
                </div>
        <!-- <div class="footer">
            <a href="">Go To Registration page</a>
        </div> -->
    </div>
</body>
</html>